name: Test

on: [push, pull_request]

env:
  RUBYOPT: --enable-frozen-string-literal --debug-frozen-string-literal

jobs:
  test:
    name: on ruby ${{matrix.ruby}}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.2", "3.3", "3.4", head, jruby-10.0.0.1]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: RSpec
        run: bin/rspec
