name: Test

on: [push, pull_request]

jobs:
  test:
    name: on ruby ${{matrix.ruby}}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.7', '3.0', '3.1', '3.2', head]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}

      - name: Install dependencies
        # Fallback to an update for the diffent dependency versions when using
        # Ruby 2.4.
        run: bundle install --jobs 4 --retry 3 || bundle update --jobs 4 --retry 3

      - name: RSpec
        run: bin/rake spec
